body.active-modal {
    overflow-y: hidden;
  }


.modal, .overlay {
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9998;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(49, 49, 49, 0.8); /* Semi-transparent black */
    z-index: 9998; /* Ensure it's below the modal */
  }
  
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 3px;
    max-width: 900px;
    min-width: 300px;
    z-index: 9999; /* Ensure it's above the overlay */
  }

.close-modal {
    position: relative;
    top: 5px;
    right: 10px;
    padding: 5px 7px;
    float: right;
    border:solid 1px red;
    border-radius: 10px;
    background-color: 'transparent';
    cursor: 'pointer';
    margin-top: 10px;
    font-size: 11px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
